* {
    margin: 0;
    padding: 0;
}

*,
:after,
:before {
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

@media (min-width: 992px) {
    html {
        font-size: 16px;
    }
}

body {
    background-color: #f9f9fa;
    color: #000;
    font-family: Figtree, sans-serif;
    font-weight: 400;
    line-height: 1.5;
}


/* header style */

.navbar {
    z-index: 100;
}

.navbar {
    background: #f0f0f0;
    box-shadow: none;
    padding: 1rem;
    position: fixed;
    top: 0;
    transform: translateY(0);
    transition: transform 0.3s ease-in-out;
    width: 100%;
    z-index: 1000;
}

.navbar-logo .nav-logo-link .logo-img {
    display: block;
    height: auto;
    width: 130px;
}

.notify-actionbtn {
    background-color: #e4e4e4 !important;
    width: 40px !important;
    height: 40px !important;
    position: relative;
}


/* sidebar style */

.app-bar-section {
    left: 15px;
    position: fixed;
    right: auto;
    top: 70px;
    z-index: 999;
}

.app-bar,
.app-bar-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.app-bar-container {
    background-color: none;
    border-radius: 8px;
    box-shadow: none;
    gap: 0 3rem;
    padding: 15px 0;
}

.app-bar {
    background-color: #e4e4e4;
    border-radius: 50%;
    font-size: 0.8rem;
    height: 40px;
    margin-bottom: 10px;
    position: relative;
    transition: background-color 0.3s ease;
    width: 40px;
    color: #000;
    text-decoration: none;
}

.app-bar.active {
    color: #fff;
    background-color: #000;
}

.app-bar .app-link {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    text-decoration: none;
    top: 0;
    z-index: 3;
}

.app-bar .icon {
    align-items: center;
    display: flex;
    height: auto;
    justify-content: center;
    font-size: 15px;
}

.landing-container {
    background-color: #f0f0f0 !important;
    padding: 72px 15px 20px 70px;
    min-height: 100vh;
}

.layout-one-landing-container {
    background-color: #f0f0f0 !important;
    padding: 15px 15px 0px 15px;
    min-height: 90vh;
}


/* main header search bar */

.navbar-menu .search-container {
    align-items: center;
    background: transparent;
    border: 1px solid #ccc;
    border-radius: 20px;
    display: flex;
    padding: 0 10px;
    width: 340px;
}

.navbar-menu .search-input {
    background: transparent;
    border: none;
    flex: 1;
    font-size: 14px;
    outline: none;
    padding: 8px;
}

.navbar-menu .search-button {
    background: none;
    border: none;
    color: #555;
    cursor: pointer;
    font-size: 16px;
    padding: 0 !important;
}

input,
select,
textarea {
    border: 1px solid #ccc;
    color: #222;
    font-family: Figtree, sans-serif;
    font-size: 1rem;
    padding: 0.8rem;
}

.tp-adjusto {
    transform: translateY(-150px) !important;
    /* Move modal up */
}

/* main content */

.main_content {
    width: 100%;
    min-height: calc(100vh - 112px);
    border-radius: 25px;
    padding: 0px;
    background: #f8f8f8;
    box-shadow: 0px 2px 10px -4px #ccc;
}

.sub-card-header {
    padding: 15px;
}

.sub-card-body {
    padding: 0px 15px 0px 15px;
    height: calc(100vh - 245px);
    overflow: auto;
}





.header-nav-action .gobgbtn {
    width: 40px;
    height: 40px;
    background-color: #e4e4e4;
    border-color: #e4e4e4;
    color: #777;
}


/* device list page  start */

.card-title-img {
    width: 22px;
}

.actionbtn img {
    width: 17px;
    height: auto;
    transition: all 0.3s ease;
}

.actionbtn:hover img {
    transform: scale(0.8);
}

.asset_landing_card {
    background: #fff;
    border: none;
    border-radius: 25px;
    box-shadow: 0 2px 10px -3px hsla(0, 0%, 80%, 0.25);
    padding: 16px !important;
}

.asset_landing_card .top_asset_container {
    display: flex;
}

.asset_landing_card .top_asset_container .asset_icon_container {
    background: #f3f3f3;
    border-radius: 50px !important;
    flex-shrink: 0;
    height: 40px;
    width: 40px;
}

.asset_landing_card .top_asset_container .asset_content_container {
    flex-grow: 1;
}

.asset_landing_card .top_asset_container .asset_content_container .asset_head_container .asset_head {
    color: #000;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 0;
}

.asset_landing_card .top_asset_container .asset_content_container .asset_head_container {
    min-height: 15px;
}

#deviceContainer0content {
    min-height: 30px;
}

.asset_landing_card .top_asset_container .asset_content_container .asset_description_container .asset_content {
    color: #777;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
}


.validation-error {
    border-color: red !important;
    /* color: red !important; */
}


.custom-floating-label.label-error label {
    color: #dc3545 !important;
    /* red */
}

.dropdown-toggle::after {
    display: none !important;

}


.navbar-log .log-picture {
    align-items: center;
    background-color: #20232d;
    border-radius: 50%;
    color: #fff;
    display: flex;
    font-size: 1.5rem;
    height: 40px;
    justify-content: center;
    line-height: 50px;
    margin-left: .5rem;
    overflow: hidden;
    width: 40px;
    cursor: pointer;
}

.sort-icon {
  transition: transform 0.2s ease;
}
.sort-icon.asc {
  transform: rotate(180deg);
}
.sort-icon.desc {
  transform: rotate(0deg);
}


/* device list page  end */